@import '../../styles/variables.css';
.button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--dark-bg);
    color: var(--light);
    border-color: var(--dark-bg);
    border-radius: 4px;
}

.tertiary {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    font-size: 1.2rem;
    color: var(--primary);
}

.tertiary:hover, .tertiary:active {
    border-bottom: 2px solid var(--primary) !important;
}