@import '../../styles/variables.css';
.input {
    text-transform: capitalize;
    border-width: 1px;
    border-radius: 4px;
    font-size: 1.2rem;
    /* width: 100%; */
    width: -webkit-fill-available;
    padding: 0.5rem;
}

.input:focus {
    outline-color: var(--dark-bg) !important;
}