@import '../../styles/variables.css';
.login__logo {
    width: 200px;
    height: 200px;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg);
    color: var(--light);
    padding: 1rem;
    border-radius: 50%;
}

.login__logo h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.login__logo img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.login__button {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__signUpText {
    padding-top: 1rem;
}