@import '../../styles/variables.css';
.chip {
    text-transform: uppercase;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
}